<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/header.css">
     <link rel="stylesheet" href="/CSS/style.css">
     <link rel="stylesheet" href="/CSS/student.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title><%= title %></title>
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
    <div class="student-details">
        <h2>Student Information</h2>
        <ul>
            <li><strong>Name:</strong> <%= student.name %></li>
            <li><strong>Student Number:</strong> <%= student.studentno %></li>
            <li><strong>Email:</strong> <%= student.email %></li>
            <li><strong>Phone:</strong> <%= student.phone %></li>
        </ul>
    </div>
</body>
</html>